# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform variable files
*.tfvars.json

# Terraform plan files
*.tfplan

# Terraform provider cache
.terraform/

# Terraform lock file
.terraform.lock.hcl

# Local temp files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# ignore files
*.py text eol=lf
*.sh text eol=lf
venv/


