# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform variable files
*.tfvars.json

# Terraform plan files
*.tfplan

# Terraform provider cache
.terraform/

# Terraform lock file
.terraform.lock.hcl

# Local temp files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# ignore files
# Ignore Python-related directories and files
__pycache__/
*.pyc

# Ignore virtual environment and Python dependencies
encrypt/bin/
encrypt/*.dist-info/
encrypt/boto3/
encrypt/botocore/
encrypt/dateutil/
encrypt/jmespath/
encrypt/jwt/
encrypt/python_dateutil-2.9.0.post0.dist-info/
encrypt/s3transfer/
encrypt/six.py
encrypt/urllib3/

# Ignore lambda function zip file if it's generated as a build artifact
encrypt/lambda_function.zip

# Ignore decrypt and virtual environment directories
encrypt/venv/



